/* Utility classes */
.hidden {
    display: none;
}
.center {
    text-align: center;
}
/* Main CSS */
.header {
    margin-top: 5%;
    text-align: center;
}
.role-button-col {
  margin-top: 25%
}
#back {
    position: fixed;
    top: 1em;
    left: 2em;
}
.placeholder {
  background: red;
}
tr.placeholder {
  display: block;
  background: red;
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
}
tr.placeholder:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-left-color: red;
  margin-top: -5px;
  left: -5px;
  border-right: none;
}
body.dragging, body.dragging * {
  cursor: move !important;
}
.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

ol.example li.placeholder {
  position: relative;
  /** More li styles **/
}
ol.example li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}
#reject-label {
  text-align: center;
  margin-top: 2em;
}

button.no-hover:hover, button.no-hover:active {
  color: #555;
  border-color: #bbb;
  outline: 0;
}

#av-log {
  max-height: 15em;
  overflow: scroll;
}

#help-button {
  font-size: 2em;
  font-weight: lighter;
  width: 1.25em;
  padding: 0;
  height: 1.25em;
  margin: 0; 
}
#help-button-container {
  margin-top: 5em;
}
#help-nav-col {
  height: 100%;
}
#help-nav {
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  margin: 0 .2rem;
  display: block;
  padding: 2.5rem 3rem;
}
#help h3 {
  text-align: center;
  margin: 1em 0em 1em 0em;
}
li p {
  margin-top: 0.5em;
}
@media (min-width: 550px) {
  #help-nav {
    position: fixed !important;
    max-width: 12.5% !important;;
  }
}
#help-nav {
  position: relative;
}
#help-nav a {
  display: block;
}
#help-nav a:not(:first-child) {
  margin-top: 1em;
}

/* Loading animation */
.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #33C3F0;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;

  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

/* Checkboxes | SOURCE: http://codepen.io/fxm90/pen/JdmaeL?editors=1100 */
/**
 * Code for checkboxes
 */
 /**
  * Code for checkboxes
  */
  /* MODIFICATIONS */
  .ucheckbox {
    vertical-align: text-bottom;
  }
  /* /MODIFICATIONS */
 .ucheckbox {
   position: relative;
   width: 1rem;
   height: 1rem;
   margin-right: .75rem;
   cursor: pointer;
   -webkit-appearance: none;
      -moz-appearance: none;
           appearance: none;
   outline: 0;
   /**
    * Iterate over map and autogenerate helper classes.
   * See "http://codepen.io/fxm90/pen/zGjjrJ" for an example
   */
 }
 .ucheckbox:before {
   content: '';
   position: absolute;
   left: 0;
   top: .75rem;
   z-index: 1;
   width: 100%;
   height: 100%;
   border: 2px solid #f2f2f2;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
 }
 .ucheckbox:checked:before {
   height: 50%;
   -webkit-transform: rotate(-45deg);
           transform: rotate(-45deg);
   border-top-style: none;
   border-right-style: none;
   border-color: #4caf50;
 }
